<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db09b8cb-65e2-4dd5-8fe3-a0a30db7feb3/resourceGroups/az-course-rg/providers/Microsoft.Web/sites/azure-app-tanuj20250217143713</ResourceId>
    <ResourceGroup>az-course-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azure-app-tanuj20250217143713-bsb2esb4hha5crgu.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f27f3d03-ae96-4012-ac53-9b297c840554</ProjectGuid>
    <PublishUrl>https://azure-app-tanuj20250217143713-bsb2esb4hha5crgu.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>